{% extends './index.html' %}
{% block body %}
    <div class="div-iniciar-sesion">
        <h3 class="titulo-inisiar-sesion">INICIAR SESIÓN</h3> <!-- Corregido el título -->
        <form class="form-inisiar-sesion" action="/iniciarSesion" method="post">
            <div class="div-input-label-iniciar-sesion">
                <label for="txtUser">Usuario</label>
                <input type="text" name="txtUser" id="txtUser" required>
            </div>
            <div class="div-input-label-iniciar-sesion">
                <label for="txtPassword">Contraseña</label> <!-- Corregido el ID del campo de contraseña -->
                <input type="password" name="txtPassword" id="txtPassword" required> <!-- Corregido el name del campo de contraseña -->
            </div>
            <div class="buttons-iniciar-sesion">
                <button>Ingresar</button>
                <button>Cancelar</button> <!-- Corregido el texto del botón de cancelar -->
            </div>
        </form>
    </div>
    {% if mensaje %}
        <script> swal.fire('Iniciar Sesión', '{{mensaje}}', 'info')</script> <!-- Corregido el título en el mensaje de alerta -->
    {% endif %}
{% endblock %}